<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <div class="d-flex flex-column align-items-center justify-content-center position-relative">
        <%= link_to "Novo documento", new_document_path, class: "btn btn-primary position-absolute top-25 end-0" %>
        <h1 class="my-0">Documents</h1>
        <small class="document-total">Número de documentos: <%= Document.count %></small>
      </div>

      <%= form_with url: dashboard_documents_path, method: :get, class: "d-flex mt-4 mb-3" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control rounded-0 rounded-start",
              placeholder: "Type a keyword"
          %>
        <%= date_field_tag :start_date, params[:start_date] %>
        <%= date_field_tag :end_date, params[:end_date] %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary rounded-0 rounded-end" %>
      <% end %>
      <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Numero da NF</th>
            <th scope="col">Data/Hora Emissão</th>
            <th scope="col">Emitente</th>
            <th scope="col">Destinatário</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <% @documents.each do |document| %>
          <tr class="document">
            <th scope="row"><%= document.id %></th>
            <td><%= document.receipt&.n_nf %></td>
            <td><%= document.receipt&.issue_date %></td>
            <td><%= document.sender.x_nome %></td>
            <td><%= document.receiver.x_nome %></td>
            <td><%= link_to 'Ver mais', dashboard_document_path(document), class: '' %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
