<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="position-relative mt-5">
        <%= link_to "Voltar", dashboard_documents_path, class: "btn btn-secondary position-absolute top-0" %>
        <h1 class="flex-grow-1 text-center mb-4">Documento <%= @document.id %></h1>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">NCM</th>
              <th scope="col">CFOP</th>
              <th scope="col">UCom</th>
              <th scope="col">QCom</th>
              <th scope="col">VUnCom</th>
              <th scope="col">COFINS</th>
              <th scope="col">ICMS</th>
              <th scope="col">IPI</th>
              <th scope="col">PIS</th>
            </tr>
          </thead>
          <tbody>
            <% @document.products.each do |product| %>
              <tr>
                <th scope="row"><%= product.name.truncate(30) %></th>
                <td><%= product.ncm %></td>
                <td><%= product.cfop %></td>
                <td><%= product.u_com %></td>
                <td><%= product.q_com %></td>
                <td><%= product.v_un_com.fdiv(Product::SHOW_PRICE) %></td>
                <% product.taxes.order(category: :asc).each do |tax| %>
                  <td id=<%= dom_id(tax) %>><%= tax.value %></td>
                <% end %>
              </tr>
            <% end %>
            <tr>
              <th scope="row">TOTAL</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= @document.products.sum { |product| product.v_un_com }.fdiv(Product::SHOW_PRICE) %></td>
              <td><%= @document.products.sum { |product| product.value_for(:cofins) } %></td>
              <td><%= @document.products.sum { |product| product.value_for(:icms) } %></td>
              <td><%= @document.products.sum { |product| product.value_for(:ipi) } %></td>
              <td><%= @document.products.sum { |product| product.value_for(:pis) } %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
